{% extends '::base.html.twig' %}
{% block placeholder -%}
<div class="row">
    <div class="col-lg-12">
        
        <div class="clearfix">
            <h1 class="pull-left">Solicitud</h1>
            <div class="pull-right top-page-ui">
                <a href="{{ path('blog_new')}}" class="btn btn-primary pull-right">
                    <i class="fa fa-plus-circle fa-lg"></i> Nueva Solicitud
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock -%}
{% block body -%}
<div class="row">
<div class="col-lg-12">
<div class="main-box no-header clearfix">
<div class="main-box-body clearfix">
{{ form_start(form, {'attr': {'class': 'form_transaccion_edit'}}) }}	
	<div class="row">
	    {{ form_rest(form) }}
	</div>
	<div class="row">
	    	<button class="btn btn-success" type="submit">Guardar</button>
	        <button class="btn btn-default" type="reset">Limpiar</button>
	        <a class="btn btn-warning" href="{{ path('blog') }}">Regresar</a>
	</div>
    {{ form_end(form) }}                     
 </div>
</div>
</div>
</div>   
{% endblock %}   